.card{
    position: absolute;
    left:30%;

}
.wrapper {
    position: relative;
    height: 100vh;
}
.content{
    margin-top: 13%;
}

@media only screen and (max-width: 600px) {

    .card{
        position: absolute;
        left:0;
        width: 380px;
    }
    .content{
        margin-top: 40%;
    }

}